<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Ubah data</h2>
            <% if (typeof errors != 'undefined') { %>
             <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <ul>
                    <% errors.forEach(err => { %>
                     <li><%= err.msg %></li>
                    <% }) %>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
            <% } %>
            <form method="post" action="/contact?_method=PUT">
                <input type="text" hidden readonly value="<%= contact._id %>" name="_id" />
                <div class="mb-3">
                    <input type="text" class="form-control" id="nama" name="namaLama" value="<%= (contact.namaLama) ? contact.namaLama : contact.nama %>" hidden readonly>
                </div>
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama" value="<%= contact.nama %>" required>
                </div>
                <div class="mb-3">
                  <label for="telp" class="form-label">No Telp</label>
                  <input type="text" maxlength="14" id="telp" name="telp" class="form-control" value="<%= contact.telp %>" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" value="<%= contact.email %>" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </form>
              <a href="/contact/<%= contact.nama %>" onclick="return confirm('Anda yakin ingin meninggalkan edit?')" class="btn btn-dark mt-3">Kembali</a>
        </div>
    </div>
</div>